
# SDC1
NET "IO_SDC1_CMD" PULLUP;
NET "IO_SDC1_D0"  PULLUP;
NET "IO_SDC1_D1"  PULLUP;
NET "IO_SDC1_D2"  PULLUP;
NET "IO_SDC1_D3"  PULLUP;
# SDC2
NET "IO_SDC2_CMD" PULLUP;
NET "IO_SDC2_D0"  PULLUP;
NET "IO_SDC2_D1"  PULLUP;
NET "IO_SDC2_D2"  PULLUP;
NET "IO_SDC2_D3"  PULLUP;

#
#NET "IO_SDC1_CLK" IOSTANDARD = LVCMOS33;
#NET "IO_SDC1_CMD" IOSTANDARD = LVCMOS33;
#NET "IO_SDC1_D0" IOSTANDARD = LVCMOS33;
#NET "IO_SDC1_D1" IOSTANDARD = LVCMOS33;
#NET "IO_SDC1_D2" IOSTANDARD = LVCMOS33;
#NET "IO_SDC1_D3" IOSTANDARD = LVCMOS33;
#NET "IO_SDC1_CMD" PULLUP;
#NET "IO_SDC1_D0" PULLUP;
#NET "IO_SDC1_D1" PULLUP;
#NET "IO_SDC1_D2" PULLUP;
#NET "IO_SDC1_D3" PULLUP;


NET "CLK_IO_50MHZ" SLEW = QUIETIO;
NET "CLK_IO_50MHZ" LOC = B10;
NET "IO_LOGIC_RESET_N" SLEW = QUIETIO;
NET "IO_LOGIC_RESET_N" LOC = G16;
NET "IO_READY" SLEW = QUIETIO;
NET "IO_READY" LOC = G17;
NET "IO_DISCRETE1" SLEW = QUIETIO;
NET "IO_DISCRETE1" LOC = F16;
NET "IO_DISCRETE2" SLEW = QUIETIO;
NET "IO_DISCRETE2" LOC = F17;
NET "PUC_IO_TEST_RX" SLEW = QUIETIO;
NET "PUC_IO_TEST_RX" LOC = C20;
NET "PUC_IO_TEST_TX" SLEW = QUIETIO;
NET "PUC_IO_TEST_TX" LOC = C22;
NET "DWNLINK_TX_IO_RX" SLEW = QUIETIO;
NET "DWNLINK_TX_IO_RX" LOC = C11;
NET "DWNLINK_RX_IO_TX" SLEW = QUIETIO;
NET "DWNLINK_RX_IO_TX" LOC = A11;
NET "IO_RX_C_TX" SLEW = QUIETIO;
NET "IO_RX_C_TX" LOC = D14;
NET "IO_TX_C_RX" SLEW = QUIETIO;
NET "IO_TX_C_RX" LOC = C14;
NET "IO_RX_S_TX" SLEW = QUIETIO;
NET "IO_RX_S_TX" LOC = A14;
NET "IO_TX_S_RX" SLEW = QUIETIO;
NET "IO_TX_S_RX" LOC = C15;
NET "SBC_TO_IO" SLEW = QUIETIO;
NET "SBC_TO_IO" LOC = A17;
NET "IO_TO_SBC" SLEW = QUIETIO;
NET "IO_TO_SBC" LOC = B18;
NET "SBC_CABLE_DET_N" SLEW = QUIETIO;
NET "SBC_CABLE_DET_N" LOC = D9;
NET "IO_TX_UIC_RX" SLEW = QUIETIO;
NET "IO_TX_UIC_RX" LOC = E16;
NET "IO_RX_UIC_TX" SLEW = QUIETIO;
NET "IO_RX_UIC_TX" LOC = D17;
NET "UIC_CABLE_DET_N" SLEW = QUIETIO;
NET "UIC_CABLE_DET_N" LOC = C8;
NET "IO_ADC1_CLK" SLEW = QUIETIO;
NET "IO_ADC1_CLK" LOC = A15;
NET "IO_ADC1_CS_N" SLEW = QUIETIO;
NET "IO_ADC1_CS_N" LOC = D15;
NET "IO_ADC1_DIN" SLEW = QUIETIO;
NET "IO_ADC1_DIN" LOC = C16;
NET "IO_ADC1_DOUT" SLEW = QUIETIO;
NET "IO_ADC1_DOUT" LOC = B16;
NET "IO_ADC1_BUSY" SLEW = QUIETIO;
NET "IO_ADC1_BUSY" LOC = A16;
NET "IO_EE_DIN" SLEW = QUIETIO;
NET "IO_EE_DIN" LOC = L15;
NET "IO_EE_DOUT" SLEW = QUIETIO;
NET "IO_EE_DOUT" LOC = P19;
NET "IO_EE_DCLK" SLEW = QUIETIO;
NET "IO_EE_DCLK" LOC = P20;
NET "IO_EE_CS_L" SLEW = QUIETIO;
NET "IO_EE_CS_L" LOC = W20;
NET "IO_EE_HOLD" SLEW = QUIETIO;
NET "IO_EE_HOLD" LOC = W22;
NET "IO_EE_WP" SLEW = QUIETIO;
NET "IO_EE_WP" LOC = L17;
NET "DIN1_IO" SLEW = QUIETIO;
NET "DIN1_IO" LOC = U19;
NET "DIN1_IO" SLEW = QUIETIO;
NET "DIN1_IO" LOC = V20;
NET "DCLK1_IO" SLEW = QUIETIO;
NET "DCLK1_IO" LOC = M17;
NET "CS1_IO_N" SLEW = QUIETIO;
NET "CS1_IO_N" LOC = M18;
NET "DIN2_IO" SLEW = QUIETIO;
NET "DIN2_IO" LOC = P17;
NET "DIN2_IO" SLEW = QUIETIO;
NET "DIN2_IO" LOC = N16;
NET "DCLK2_IO" SLEW = QUIETIO;
NET "DCLK2_IO" LOC = P18;
NET "DCLK2_IO" SLEW = QUIETIO;
NET "DCLK2_IO" LOC = R19;
# SDC1
NET "IO_SDC1_CD_WP" SLEW = QUIETIO;
NET "IO_SDC1_CD_WP" LOC = Y2;
NET "IO_SDC1_D0" SLEW = FAST;
NET "IO_SDC1_D0" LOC = Y1;
NET "IO_SDC1_D1" SLEW = FAST;
NET "IO_SDC1_D1" LOC = W3;
NET "IO_SDC1_D2" SLEW = FAST;
NET "IO_SDC1_D2" LOC = W1;
NET "IO_SDC1_D3" SLEW = FAST;
NET "IO_SDC1_D3" LOC = P8;
NET "IO_SDC1_CLK" SLEW = FAST;
NET "IO_SDC1_CLK" LOC = P7;
NET "IO_SDC1_CMD" SLEW = FAST;
NET "IO_SDC1_CMD" LOC = P6;
# SDC2
NET "DCLK2_IO"    LOC   = U4;
NET "IO_SDC2_D0"  SLEW  = FAST;
NET "IO_SDC2_D0"  LOC   = V3;
NET "IO_SDC2_D1"  SLEW  = FAST;
NET "IO_SDC2_D1"  LOC   = N6;
NET "IO_SDC2_D2"  SLEW  = FAST;
NET "IO_SDC2_D2"  LOC   = N7;
NET "IO_SDC2_D3"  SLEW  = FAST;
NET "IO_SDC2_D3"  LOC   = M7;
NET "IO_SDC2_CLK" SLEW  = FAST;
NET "IO_SDC2_CLK" LOC   = M8;
NET "IO_SDC2_CMD" SLEW  = FAST;
NET "IO_SDC2_CMD" LOC   = R4;

NET "RTC_I2C_SDA" SLEW = QUIETIO;
NET "RTC_I2C_SDA" LOC = U9;
NET "RTC_I2C_SCL" SLEW = QUIETIO;
NET "RTC_I2C_SCL" LOC = V9;
NET "DCLK1_IO" SLEW = QUIETIO;
NET "DCLK1_IO" LOC = T8;
NET "MEAS_RTC_BAT" SLEW = QUIETIO;
NET "MEAS_RTC_BAT" LOC = U8;
NET "STATUS_LED_0" SLEW = QUIETIO;
NET "STATUS_LED_0" LOC = E20;
NET "STATUS_LED_1" SLEW = QUIETIO;
NET "STATUS_LED_1" LOC = E22;
NET "STATUS_LED_2" SLEW = QUIETIO;
NET "STATUS_LED_2" LOC = F21;
NET "STATUS_LED_3" SLEW = QUIETIO;
NET "STATUS_LED_3" LOC = F22;
NET "STATUS_LED_4" SLEW = QUIETIO;
NET "STATUS_LED_4" LOC = G20;
NET "STATUS_LED_5" SLEW = QUIETIO;
NET "STATUS_LED_5" LOC = G22;
NET "STATUS_LED_6" SLEW = QUIETIO;
NET "STATUS_LED_6" LOC = H21;
NET "STATUS_LED_7" SLEW = QUIETIO;
NET "STATUS_LED_7" LOC = H22;
NET "STATUS_LED_0" SLEW = QUIETIO;
NET "STATUS_LED_0" LOC = AB3;
NET "STATUS_LED_1" SLEW = QUIETIO;
NET "STATUS_LED_1" LOC = Y3;
NET "STATUS_LED_2" SLEW = QUIETIO;
NET "STATUS_LED_2" LOC = AB4;
NET "STATUS_LED_3" SLEW = QUIETIO;
NET "STATUS_LED_3" LOC = AA4;
NET "STATUS_LED_4" SLEW = QUIETIO;
NET "STATUS_LED_4" LOC = AB5;
NET "STATUS_LED_5" SLEW = QUIETIO;
NET "STATUS_LED_5" LOC = Y5;
NET "STATUS_LED_6" SLEW = QUIETIO;
NET "STATUS_LED_6" LOC = Y6;
NET "STATUS_LED_7" SLEW = QUIETIO;
NET "STATUS_LED_7" LOC = AB8;
NET "LA[8]" SLEW = QUIETIO;
NET "LA[8]" LOC = AA8;
NET "LA[9]" SLEW = QUIETIO;
NET "LA[9]" LOC = Y8;
NET "LA[10]" SLEW = QUIETIO;
NET "LA[10]" LOC = AB9;
NET "LA[11]" SLEW = QUIETIO;
NET "LA[11]" LOC = Y9;
NET "LA[12]" SLEW = QUIETIO;
NET "LA[12]" LOC = AB10;
NET "LA[13]" SLEW = QUIETIO;
NET "LA[13]" LOC = AA10;
NET "LA[14]" SLEW = QUIETIO;
NET "LA[14]" LOC = Y10;
NET "LA[15]" SLEW = QUIETIO;
NET "LA[15]" LOC = AB11;

# For chipscope
TIMESPEC TS_D2_TO_T2 = FROM "J_CLK" TO "D_CLK" TIG ;
TIMESPEC TS_J2_TO_D2 = FROM "J_CLK" TO "D_CLK" TIG ;
TIMESPEC TS_J3_TO_D2 = FROM "J_CLK" TO "D_CLK" TIG ;
TIMESPEC TS_J4_TO_D2 = FROM "J_CLK" TO "D_CLK" TIG ;
